* {
  margin: 0;
  color: white;
}
#root {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: rgb(77, 119, 78);
  background: linear-gradient(
    90deg,
    rgba(77, 119, 78, 1) 14%,
    rgba(157, 200, 141, 1) 100%
  );
}
